{
  "base_url": "代理discord发送指令请求地址",
  "receiver_url": "代理discord接受图片链接的回调地址",
  "proxy": {
    "http": "",
    "https": ""
  },
  "channelid": "",
  "authorization": "",
  "application_id": "",
  "guild_id": "",
  "session_id": "",
  "version": "",
  "id": "",
  "flags": ""
}
